<div class="actions-header">
	<a class="nav-btn"
		 [routerLink]="['']">
		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-undo2"></app-svg-icon>
		<span>Начало</span>
	</a>

	<h3>{{ game.gameSettings?.title }}</h3>

	<a *ngIf="game.hasSelectedFile"
		 class="nav-btn"
		 (click)="game.end()">

		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-clipboard"></app-svg-icon>

		<span>Резултат</span>
	</a>

</div>

<app-game-title-select *ngIf="!game.hasSelectedFile"
											 (titleSelected)="game.init($event)"></app-game-title-select>

<ng-container *ngIf="game.hasSelectedFile">
	<div style="width: 100%;">
		<app-game-card *ngIf="!game.isOver"
									 [model]="game.currentItem"></app-game-card>

		<div class="card-game-actions">
			<a class="circle-btn circle-btn-animated"
				 (click)="game.selectAnswer(true)">
				<app-svg-icon class="svg-icon success"
											iconName="icon-checkmark"></app-svg-icon>
			</a>

			<a class="circle-btn circle-btn-animated"
				 (click)="game.selectAnswer(false)">
				<app-svg-icon class="svg-icon svg-icon-sm danger"
											iconName="icon-cross"></app-svg-icon>
			</a>

			<a *ngIf="game.canSkipItems"
				 class="circle-btn circle-btn-animated"
				 (click)="game.skipItem()">
				<app-svg-icon class="svg-icon primary"
											iconName="icon-redo2"></app-svg-icon>
			</a>
		</div>
	</div>

	<app-game-result *ngIf="game.isOver"
									 [answers]="game.answers"></app-game-result>
</ng-container>
