<div class="actions-header">
	<a class="nav-btn"
		 [routerLink]="['']">
		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-undo2"></app-svg-icon>
		<span>Начало</span>
	</a>

	<h3>Избор на настройки</h3>
</div>

<div>
	<app-game-title-select (titleSelected)="settings.gameTitle = $event"></app-game-title-select>

	<div class="mode-selection">
		<label>Допълнителни настройки</label>
		<div class="checkbox-group">
			<input type="checkbox"
						 id="positionChange"
						 [(ngModel)]="settings.allowPositionChange">
			<label for="positionChange">Разменяй предна и задна страна на случен принцип</label>
		</div>

		<div class="checkbox-group">
			<input type="checkbox"
						 id="skipItems"
						 [(ngModel)]="settings.canSkipItems">
			<label for="skipItems">Позволи пропускането на елементи</label>
		</div>
	</div>

	<a class="flat-btn flat-btn-animated"
		 (click)="startGame()">
		<span>Започни</span>
	</a>
</div>
