:host {
	display: inline-block;
  margin: 10px;
  padding: .8em;
  border: 1px dotted #656256;
  border-radius: 4px;
  background: #ffaf60;
  cursor: pointer;
  max-width: 6%;
}

:host.delimiter {
	visibility: hidden;
}

:host > input {
	background: inherit;
  border: none;
  width: 100%;
  outline: none;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
