<div class="actions-header">
	<a class="nav-btn"
		 [routerLink]="['']">
		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-undo2"></app-svg-icon>
		<span>Начало</span>
	</a>

	<h3>{{ game.gameSettings?.title }}</h3>

	<a *ngIf="game.hasSelectedFile"
		 class="nav-btn"
		 (click)="game.end()">

		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-clipboard"></app-svg-icon>

		<span>Резултат</span>
	</a>
</div>

<ng-container *ngIf="!game.isOver">
	<app-game-card [model]="game.currentItem"
								 [isFlipEnabled]="game.hasResult && (game.isAnswerCorrect || game.isAnswerCanceled)"></app-game-card>

	<div class="letter-box-container">
		<div *ngFor="let box of game.letterBoxes"
				 class="letter-box"
				 (click)="input.focus()">
			<input #input
						 type="text"
						 maxlength="1"
						 [(ngModel)]="box.value"
						 [disabled]="game.hasResult && (game.isAnswerCorrect || game.isAnswerCanceled)">
		</div>
	</div>

	<div class="card-game-actions">
		<ng-container *ngIf="(!game.hasResult || !game.isAnswerCorrect) && !game.isAnswerCanceled">
			<a class="circle-btn circle-btn-animated"
				 (click)="game.checkAnswer()">
				<app-svg-icon class="svg-icon success"
											iconName="icon-checkmark"></app-svg-icon>
			</a>

			<a class="circle-btn circle-btn-animated"
				 (click)="game.cancelItem()">
				<app-svg-icon class="svg-icon svg-icon-sm danger"
											iconName="icon-cross"></app-svg-icon>
			</a>
		</ng-container>

		<a class="circle-btn circle-btn-animated"
			 (click)="game.skipItem()">
			<app-svg-icon class="svg-icon primary"
										iconName="icon-redo2"></app-svg-icon>
		</a>
	</div>

	<div *ngIf="game.hasResult && !game.isAnswerCanceled"
			 class="answer-message {{ game.isAnswerCorrect ? 'answer-message-correct' : 'answer-message-incorrect' }}">
		{{ game.isAnswerCorrect ? 'Верен отговор! Браво!' : 'Грешен отговор! Опитай пак!' }}
	</div>
</ng-container>

<app-game-result *ngIf="game.isOver"
								 [answers]="game.answers"></app-game-result>
