<div class="title">
	<div>
		<app-svg-icon class="menu-banner-icon"
					  iconName="menu-banner"></app-svg-icon>
	</div>

	<span>Учи лесно, докато се забавляваш</span>
</div>

<h2>Начало</h2>
<label style="color: #656256">Изберете действие:</label>

<div class="menu-container">
	<a *ngFor="let menuItem of menuItems"
	   class="flat-btn flat-btn-animated space-between"
	   [routerLink]="menuItem.routerLink">
		<app-svg-icon class="svg-icon"
					  [iconName]="menuItem.icon"></app-svg-icon>

		<span>{{ menuItem.title }}</span>

		<app-svg-icon class="svg-icon svg-icon-sm"
					  iconName="icon-cheveron-right"></app-svg-icon>
	</a>
</div>