<div class="actions-header">
	<a class="nav-btn"
		 [routerLink]="['']">
		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-undo2"></app-svg-icon>
		<span>Начало</span>
	</a>

	<h3>{{ game.gameSettings?.title }}</h3>

	<a *ngIf="game.hasSelectedFile"
		 class="nav-btn"
		 (click)="game.end()">

		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-clipboard"></app-svg-icon>

		<span>Резултат</span>
	</a>

</div>

<app-game-title-select *ngIf="!game.hasSelectedFile"
											 (titleSelected)="game.init($event)"></app-game-title-select>

<ng-container *ngIf="game.hasSelectedFile">
	<app-game-card *ngIf="!game.isOver"
								 [model]="game.currentItem"
								 [canBeSkipped]="game.canSkipItems"
								 (answerSelected)="game.selectAnswer($event)"
								 (skipped)="game.skipItem()"></app-game-card>

	<app-game-result *ngIf="game.isOver"
									 [answers]="game.answers"></app-game-result>
</ng-container>
