<div class="actions-header">
	<a class="nav-btn"
		 (click)="save()">
		<app-svg-icon class="svg-icon svg-icon-xs"
									iconName="icon-floppy-disk"></app-svg-icon>
		<span>Запиши и се върни</span>
	</a>

	<h3>Настройки</h3>

	<a class="nav-btn"
		 [routerLink]="['/settings']">
		<app-svg-icon class="svg-icon svg-icon-xs"
									iconName="icon-blocked"></app-svg-icon>
		<span>Откажи и се върни</span>
	</a>
</div>

<div style="width: 100%;">
	<div class="input-group">
		<label>Заглавие:</label>
		<input [(ngModel)]="model.title">
	</div>

	<div class="edit-container">
		<div style="flex: 1; margin-right: 5px; overflow: auto;">
			<a class="btn-link"
				 style="margin-bottom: 1em;"
				 (click)="addItem()">
				<app-svg-icon class="svg-icon svg-icon-xs"
											iconName="icon-plus"></app-svg-icon>
				Нов елемент
			</a>

			<div *ngFor="let item of model?.items"
					 class="item-container"
					 [ngClass]="{'selected' : item.front === selectedItem?.front && item.back === selectedItem?.back }"
					 (click)="select(item)">

				<div>
					<div>{{ item.front }}</div>
					<div>{{ item.back }}</div>
				</div>

				<a *ngIf="item.front === selectedItem?.front && item.back === selectedItem?.back"
					 class="circle-btn circle-btn-sm circle-btn-animated"
					 (click)="delete(item)">
					<app-svg-icon class="svg-icon svg-icon-xs danger"
												iconName="icon-bin"></app-svg-icon>
				</a>
			</div>
		</div>

		<div style="flex: 2;">
			<div class="game-card">
				<div class="front">
					<span *ngIf="!isEditingFront"
								(click)="isEditingFront = true;">{{ selectedItem?.front }}</span>
					<input *ngIf="isEditingFront"
								 style="width: 90%; outline: none; border: none; border-bottom: 1px dotted #ffffff; background-color: transparent; font-size: 18px; color: #ffffff;"
								 [(ngModel)]="selectedItem.front"
								 (blur)="isEditingFront = false;">
				</div>
			</div>

			<div class="game-card">
				<div class="back">
					<span *ngIf="!isEditingBack"
								(click)="isEditingBack = true;">{{ selectedItem?.back }}</span>
					<input *ngIf="isEditingBack"
								 style="width: 90%; outline: none; border: none; border-bottom: 1px dotted #ffffff; background-color: transparent; font-size: 18px; color: #ffffff;"
								 [(ngModel)]="selectedItem.back"
								 (blur)="isEditingBack = false;">
				</div>
			</div>
		</div>
	</div>
</div>
