:host {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group > label {
	color: #656256;
	margin-right: 1em;
}

.input-group > input {
  flex: 1;
  padding: 5px 0;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #cecece;
	outline: none;
}

.input-group > input:focus {
	transition : border 0.2s ease-in-out;
	border-bottom-color: #1976d2;
}

.edit-container {
	display: flex;
	margin-top: 1em;
	height: 500px;
}

.item-container {
  display: flex;
  align-items: center;
	justify-content: space-between;
	padding: 5px;
	border: 1px solid transparent;
}

.item-container:hover,
.item-container.selected {
	color: #1976d2;
	background-color: #fafafa;
	border-color: #eee;
	cursor: pointer;
}

.item-container > div {
	padding: 2px 0;
	font-size: 15px;
}

.game-card {
	width: 70%;
  height: 250px;
  margin: 0 auto 20px;
}

.game-card div {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: 36px;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 3px 10px #656256;
}

.game-card .front {
	background: linear-gradient(#ff8811, #ffaf60);
}

.game-card .back {
	background: linear-gradient(#1976d2, #5ca6ef);
}
