:host {
	display: block;
	width: 100%;
	background-color: var(--white-secondary);
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin: 20px 0;
}

:host>span {
	display: inline-block;
	text-align: right;
	padding: 2px 5px;
	color: #fff;
	font-weight: 700;
	background-color: var(--blue);
	height: 100%;
	border: 1px solid var(--blue);
	border-radius: 4px;
	animation: progress 1.5s;
}

@-webkit-keyframes progress {
	0% {
		width: 0;
	}
}

@-moz-keyframes progress {
	0% {
		width: 0;
	}
}

keyframes progress {
	0% {
		width: 0;
	}
}