:host {
  width: 100%;
}

.game-card {
  width: 50%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  cursor: pointer;
}

.game-card div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: 36px;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 3px 10px var(--gray);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.game-card .front {
  background: linear-gradient(var(--orange), var(--orange-secondary));
}

.game-card .back {
  background: linear-gradient(var(--blue), var(--blue-secondary));
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.game-card.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}