<div class="actions-header">
	<a class="nav-btn"
		 [routerLink]="['']">
		<app-svg-icon class="svg-icon svg-icon-sm"
									iconName="icon-undo2"></app-svg-icon>
		<span>Назад</span>
	</a>

	<h3>Настройки</h3>
</div>

<div style="width: 100%; display: flex; justify-content: space-between;">
	<a class="btn-link"
		 [routerLink]="['edit']">
		<app-svg-icon class="svg-icon svg-icon-xs"
									iconName="icon-plus"></app-svg-icon>
		Създай
	</a>

	<a class="btn-link"
		 (click)="fileInput.click()">
		<app-svg-icon class="svg-icon svg-icon-xs"
									iconName="icon-upload3"></app-svg-icon>
		Импорт от файл
	</a>

	<input #fileInput
				 type="file"
				 style="display: none"
				 (change)="handleFileInput($event.target.files)">
</div>

<div style="width: 100%; padding: 10px 0;">
	<div *ngFor="let title of settingFilesTitles"
			 class="settings-row">
		<a class="circle-btn circle-btn-sm circle-btn-animated"
			 style="margin-left: 0;"
			 (click)="delete(title)">
			<app-svg-icon class="svg-icon svg-icon-xs danger"
										iconName="icon-bin"></app-svg-icon>
		</a>

		<a class="circle-btn circle-btn-sm circle-btn-animated"
			 style="margin-left: 0;"
			 [routerLink]="['edit']"
			 [state]="{ title: title }">
			<app-svg-icon class="svg-icon svg-icon-xs"
										iconName="icon-search"></app-svg-icon>
		</a>

		<span>{{ title }}</span>
	</div>
</div>
